* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: white;
}

.link-home {
    flex: 0 1 auto;
    position: absolute;
}

.link-about {
    flex: 0 1 auto;
    margin-left: auto;
    margin-right: 10px;
}

.pie-maker {
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.rd3-basic-chart {
    flex: 0 1 auto;
}

.about {
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 50px;
    margin-top: -50px;
}

.light {
    color: black;
    background: white;
}

.dark {
    color: white;
    background: #101820;
    background-color: #101820;
}

.pie-icon {
    width: 100px;
    height: 100px;
    display: solid;
}

button {
    background-color: #101818;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:0px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:10px;
    padding:11px 30px;
    text-decoration:none;
    width: 100px;
    height:  25px;
}

button:hover {
    background-color:#6c7c7c;
}

button:active {
    position:relative;
    top:1px;
}
